FreeCodeCamp/.vs/slnx.sqlite
FreeCodeCamp/.vs/VSWorkspaceState.json
FreeCodeCamp/.vs/FreeCodeCamp/v17/.wsuo
FreeCodeCamp/.vs/FreeCodeCamp/v17/DocumentLayout.json
FreeCodeCamp/ConsoleApp1/ConsoleApp1.csproj
FreeCodeCamp/ConsoleApp1/ConsoleApp1.sln
FreeCodeCamp/ConsoleApp1/Program.cs
FreeCodeCamp/ConsoleApp1/.vs/slnx.sqlite
FreeCodeCamp/ConsoleApp1/.vs/VSWorkspaceState.json
FreeCodeCamp/ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
FreeCodeCamp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/4a6acd96-9612-4bee-9ffd-518ef4c55839.vsidx
FreeCodeCamp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/46183229-35fd-41fe-8f5c-44223b49af0c.vsidx
FreeCodeCamp/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/dad3a260-a5f6-4aba-a708-0dae3bbad11e.vsidx
FreeCodeCamp/ConsoleApp1/.vs/ConsoleApp1/v17/.futdcache.v2
FreeCodeCamp/ConsoleApp1/.vs/ConsoleApp1/v17/.suo
FreeCodeCamp/ConsoleApp1/.vs/ConsoleApp1/v17/.wsuo
FreeCodeCamp/ConsoleApp1/.vs/ConsoleApp1/v17/DocumentLayout.json
FreeCodeCamp/ConsoleApp1/.vs/ProjectEvaluation/consoleapp1.metadata.v8.bin
FreeCodeCamp/ConsoleApp1/.vs/ProjectEvaluation/consoleapp1.projects.v8.bin
FreeCodeCamp/ConsoleApp1/.vs/ProjectEvaluation/consoleapp1.strings.v8.bin
FreeCodeCamp/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.deps.json
FreeCodeCamp/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.dll
FreeCodeCamp/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.exe
FreeCodeCamp/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.pdb
FreeCodeCamp/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.runtimeconfig.json
FreeCodeCamp/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
FreeCodeCamp/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
FreeCodeCamp/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
FreeCodeCamp/ConsoleApp1/obj/project.assets.json
FreeCodeCamp/ConsoleApp1/obj/project.nuget.cache
FreeCodeCamp/ConsoleApp1/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FreeCodeCamp/ConsoleApp1/obj/Debug/net8.0/apphost.exe
FreeCodeCamp/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfo.cs
FreeCodeCamp/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfoInputs.cache
FreeCodeCamp/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.assets.cache
FreeCodeCamp/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.csproj.BuildWithSkipAnalyzers
FreeCodeCamp/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.csproj.CoreCompileInputs.cache
FreeCodeCamp/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.csproj.FileListAbsolute.txt
FreeCodeCamp/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.dll
FreeCodeCamp/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
FreeCodeCamp/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.genruntimeconfig.cache
FreeCodeCamp/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.GlobalUsings.g.cs
FreeCodeCamp/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.pdb
FreeCodeCamp/ConsoleApp1/obj/Debug/net8.0/ref/ConsoleApp1.dll
FreeCodeCamp/ConsoleApp1/obj/Debug/net8.0/refint/ConsoleApp1.dll
FreeCodeCamp/ConsoleApp1/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
FreeCodeCamp/ConsoleApp1/obj/Release/net8.0/ConsoleApp1.AssemblyInfo.cs
FreeCodeCamp/ConsoleApp1/obj/Release/net8.0/ConsoleApp1.AssemblyInfoInputs.cache
FreeCodeCamp/ConsoleApp1/obj/Release/net8.0/ConsoleApp1.assets.cache
FreeCodeCamp/ConsoleApp1/obj/Release/net8.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
FreeCodeCamp/ConsoleApp1/obj/Release/net8.0/ConsoleApp1.GlobalUsings.g.cs
CodeAcademy/ConsoleApp1.sln
CodeAcademy/.idea/.idea.ConsoleApp1/.idea/.gitignore
CodeAcademy/.idea/.idea.ConsoleApp1/.idea/.name
CodeAcademy/.idea/.idea.ConsoleApp1/.idea/encodings.xml
CodeAcademy/.idea/.idea.ConsoleApp1/.idea/indexLayout.xml
CodeAcademy/.vscode/settings.json
CodeAcademy/ConsoleApp1/ConsoleApp1.csproj
CodeAcademy/ConsoleApp1/Program.cs
CodeAcademy/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.deps.json
CodeAcademy/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.dll
CodeAcademy/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.exe
CodeAcademy/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.pdb
CodeAcademy/ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.runtimeconfig.json
CodeAcademy/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
CodeAcademy/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
CodeAcademy/ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
CodeAcademy/ConsoleApp1/obj/project.assets.json
CodeAcademy/ConsoleApp1/obj/project.nuget.cache
CodeAcademy/ConsoleApp1/obj/project.packagespec.json
CodeAcademy/ConsoleApp1/obj/rider.project.model.nuget.info
CodeAcademy/ConsoleApp1/obj/rider.project.restore.info
CodeAcademy/ConsoleApp1/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
CodeAcademy/ConsoleApp1/obj/Debug/net8.0/apphost.exe
CodeAcademy/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfo.cs
CodeAcademy/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfoInputs.cache
CodeAcademy/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.assets.cache
CodeAcademy/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.csproj.CoreCompileInputs.cache
CodeAcademy/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.csproj.FileListAbsolute.txt
CodeAcademy/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.dll
CodeAcademy/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
CodeAcademy/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.genruntimeconfig.cache
CodeAcademy/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.GlobalUsings.g.cs
CodeAcademy/ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.pdb
CodeAcademy/ConsoleApp1/obj/Debug/net8.0/ref/ConsoleApp1.dll
CodeAcademy/ConsoleApp1/obj/Debug/net8.0/refint/ConsoleApp1.dll
