FreeCodeCamp/
CodeAcademy/
Desenvolvedor.io/projeto_introducao/.idea
Desenvolvedor.io/projeto_introducao/ProjetoAulas/bin/
Desenvolvedor.io/projeto_introducao/ProjetoAulas/obj/

# Arquivos de configuração de ambiente
.env

# Arquivos de log
*.log

# Dependências de pacotes
node_modules/

# Arquivos temporários e de backup
*.tmp
*.bak
*.swp
*.swo